/helicopter/vision/test_scripts/ir_frame.npy
/helicopter/vision/test_scripts/depth_frame.npy
/notebooks/measured_points.npy
/notebooks/imu_log.csv
/notebooks/log.csv
/notebooks/vision_log.csv
.idea/
.DS_Store
/helicopter/vision/test_scripts/detections.mp4
/.gitattributes
/helicopter/vision/test_scripts/detections_tracking.mp4
/helicopter/vision/test_scripts/aruco_tracking.mp4
